.navbar{
    background-color: rgb(51, 66, 197);
}
.setBasic{
    margin-top: 25px;
}
#sN{
        color: rgb(36, 30, 28);
}
.qNumber label{
    color: blue;
    margin-top: 10px;
    margin-right: 28px;
}
.conatiner{
  background-color: #eeeeee;
}
#setQuestion{
  display: block;
  float: left;
  width: 60%;
  margin-top: 10px;
  
}
#demoQuestion{
  display: block;
  float: left;
  width: 40%;
  margin-top: 10px;
}

.form-popup{
  display: none;
  background-color: rgb(219, 216, 166);
  border: 3px solid red;
  border-radius: 3px;
  position: fixed;
  bottom: 0;
  right: 500px;
  bottom: 500px;
  padding: 5px;
}


/*
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  background: #f6f6fa;
}
.submitbtn {
  margin-top: 20px;
  margin-left:310px ; 
  transform: translate(-50%, -50%);
  color: #1a4299;
  font-size: 15px;
  font-family: Montserrat;
  padding: .3em 2em;
  border: 2px solid #247cce;
  transition: 0.02s;
}
.submitbtn::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2465ce;
  transition: 0.9s;
  
}
.submitbtn::after {
  content: "";
  display: inline-block;
  background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  right: 3em;
  bottom: 0;
  background-size: 1.7em;
  background-repeat: no-repeat;
  background-position: center;
}
.submitbtn:hover {
  padding: 0.3em 3.5em 0.3em 0.5em;
}
.submitbtn:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.4s;
}
.submitbtn:hover::after {
  right: 0;
  transition: 0.7s;
} */