.navbar{
    background-color: rgb(50, 60, 151);
}

#get{
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(50, 60, 151);
  }
  
.container{
    background-color: rgb(244, 244, 245);
}  
#survey{
    margin-left: 200px;
    margin-top: 30px;
  }
#surveyName{
      color: rgb(155, 40, 6);
      font-size: xx-large;
}
label{
    margin-left: 5px;
    
}
.options{
    margin-left: 20px;
}
.textQ{
    margin-left: 20px;
    margin-bottom: 10px;
}